{% extends "base.html" %}

{% block content %}
  <div id='login'>
    <a href="/accounts/login">Innskráning</a> |
    <a href="/accounts/register">Nýskráning</a>
  </div>
  <h1>Síðan er í vinnslu</h1>
  <p>Forritun.tk er vefsíða fyrir reynda og óreynda forritara.</p>
  <p>Vefsíðan tekur saman þær upplýsingar sem þarf til að koma fólki af stað í forritun auk þess að vera skemmtilegur staður fyrir áhugasama að tala um forritun og verkefni.<p>
  <p>Verkefnið er <a href="https://github.com/50574E/Forritun.tk">open-source</a> svo ef þú vilt hjálpa til er það velkomið.</p>
  <p>Allar ábendingar má senda á forritun.tk@gmail.com</p>
  <a href="http://discourse.forritun.tk">Við erum búnir að setja upp Dicourse!</a>
  <br />
  <br />
  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fforritun.tk&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
{% endblock %}
