{% extends "base.html" %}

{% load forritun_extras %}

{% block header %}
{{ name }}
{% endblock %}

{% block content %}
    <!--
    <p>Tags:</p>
    <ul>
    {% for tag in tags %}
        <li>{{ tag.name }}</li>
    {% empty %}
        <li>Engir tög hafa verið sett inn.</li>
    {% endfor %}
    </ul>
    <h1>Linkar</h1>
    -->

    {% if filter_tags %}
    <p>Filter:
        {% for tag in filter_tags %}
            [<a href="{% url 'resource-list' language_id language_slug filter|remove_tag:tag.slug %}">{{ tag.name }}</a>]
        {% endfor %}
        <a href="{% url 'resource-list' language_id language_slug %}">Hreinsa alla filtera</a>
    </p>
    {% endif %}

    <ul>
    {% for resource in object_list %}
        <li><a target="_blank" href="{{ resource.link }}">{{ resource.name }}</a> - {{ resource.description }}
            <small>
                {% for tag in resource.tags.all %}
                    {% if tag.slug in filter %}
                    [<a href="{% url 'resource-list' language_id language_slug filter %}">{{ tag.name }}</a>]
                    {% else %}
                        {% if filter %}
                        [<a href="{% url 'resource-list' language_id language_slug filter|add:'+'|add:tag.slug %}">{{ tag.name }}</a>]
                        {% else %}
                        [<a href="{% url 'resource-list' language_id language_slug tag.slug %}">{{ tag.name }}</a>]
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </small>
        </li>
    {% empty %}
        <li>Engir tenglar hafa verið sett inn.</li>
    {% endfor %}
    </ul>
{% endblock %}